RewriteEngine On

# Force HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Block sensitive files
RewriteRule \.(env|json|md|log)$ - [F,L]
RewriteRule ^\.env - [F,L]
RewriteRule ^data/ - [F,L]

# Custom 404
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ 404.php [L]
